<%= form_with(model: semester, local: true) do |form| %>
  <% if semester.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(semester.errors.count, "error") %> prohibited this semester from being saved:</h2>

      <ul>
      <% semester.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container table-responsive">
<table class="table">
  <tr class="field ">
     <td> <%= form.label :student_id %></td>
     <td> <%= form.number_field :student_id %></td>
 </tr>

<tr class="field ">
     <td> <%= form.label :tutor %></td>
      <td><%= form.text_field :tutor %></td>
 </tr>

<tr class="field ">
     <td> <%= form.label :faculty_id %></td>
      <td><%= form.number_field :faculty_id %></td>
 </tr>

<tr class="field ">
      <td><%= form.label :semester_id %></td>
      <td><%= form.number_field :semester_id %></td>
  </tr>

  <div class="actions">
    <%= form.submit %>
  </div>
  </table>
  </div>
<% end %>
