<p id="notice"><%= notice %></p>

<h1>Semesters</h1>

<button class="btn btn-warning">
<%= link_to 'New Semester', new_semester_path %>
</button>

<div class="container table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Student id</th>
      <th>Tutor</th>
      <th>Faculty id</th>
      <th>Semester id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @semesters.each do |semester| %>
      <tr>
        <td><%= semester.student_id %></td>
        <td><%= semester.tutor %></td>
        <td><%= semester.faculty_id %></td>
        <td><%= semester.semester_id %></td>
        <td><%= link_to 'Show', semester %></td>
        <td><%= link_to 'Edit', edit_semester_path(semester) %></td>
        <td><%= link_to 'Destroy', semester, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
