<p id="notice"><%= notice %></p>

<p>
  <strong>Student id:</strong>
  <%= @semester.student_id %>
</p>

<p>
  <strong>Tutor:</strong>
  <%= @semester.tutor %>
</p>

<p>
  <strong>Faculty id:</strong>
  <%= @semester.faculty_id %>
</p>

<p>
  <strong>Semester id:</strong>
  <%= @semester.semester_id %>
</p>

<%= link_to 'Edit', edit_semester_path(@semester) %> |
<%= link_to 'Back', semesters_path %>
