<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="container table-responsive .table-condensed">
<table class="table">
  <tr class="field">
   <td> <%= form.label :name %></td>
    <td><%= form.text_field :name %></td>
  </tr>

  <tr class="field">
    <td><%= form.label :student_id %></td>
   <td> <%= form.number_field :student_id %></td>
  </tr>

  <tr class="field">
   <td> <%= form.label :gender %></td>
    <td><%= form.text_field :gender %></td>
  </tr>

  <tr class="field">
    <td><%= form.label :age %></td>
    <td><%= form.number_field :age %></td>
  </tr>

  <tr class="field">
   <td> <%= form.label :phone %>
    <td><%= form.number_field :phone %>
  </tr>

  <tr class="field">
    <td><%= form.label :faculty_id %>
    <td><%= form.number_field :faculty_id %>
  </div>

  <tr class="field">
   <td> <%= form.label :semester_id %></td>
    <td><%= form.number_field :semester_id %></td>
  </div>

  <tr class="field">
    <td><%= form.label :guardian_name %></td>
    <td><%= form.text_field :guardian_name %></td>
  </div>

  <tr class="field">
   <td> <%= form.label :guardian_phone %></td>
    <td><%= form.number_field :guardian_phone %></td>
  </tr>

  <div class="actions ">
    <%= form.submit %>
  </div>
  </table>
  </div>
<% end %>
