<p id="notice"><%= notice %></p>

<h1>Students</h1>

<%= link_to 'New Student', new_student_path, class:"btn btn-dark" %>
<!--button class="btn btn-warning">
</button-->

<!--%= button_to 'New Student', new_student_path, class:"btn btn-dark"%-->

<div class="container table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>student_id</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Phone</th>
      <th>faculty_id</th>
      <th>semester_id</th>
      <th>Gname</th>
      <th>Gphone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
     <td><%= student.name %></td>
        <td><%= student.student_id %></td>
        <td><%= student.gender %></td>
        <td><%= student.age %></td>
        <td><%= student.phone %></td>
        <td><%= student.faculty_id %></td>
        <td><%= student.semester_id %></td>
        <td><%= student.guardian_name %></td>
        <td><%= student.guardian_phone %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
