<p id="notice"><%= notice %></p>


<div class="container table-responsive ">
<table class="table table-condensed">
<tr>
  <td><strong>Name:</strong> </td>
  <td><%= @student.name %></td>
</tr>

<tr>
  <td><strong>student_id:</strong></td>
  <td><%= @student.student_id %></td>
</tr>

<tr>
 <td> <strong>Gender:</strong></td>
 <td> <%= @student.gender %></td>
</tr>

<tr>
  <td><strong>Age:</strong></td>
  <td><%= @student.age %></td>
</tr>

<tr>
 <td> <strong>Phone:</strong></td>
 <td> <%= @student.phone %></td>
</tr>

<tr>
 <td> <strong>faculty_id:</strong></td>
  <td><%= @student.faculty_id %></td>
</tr>

<tr>
  <td><strong>semester_id:</strong></td>
<td>  <%= @student.semester_id %></td>
</tr>

<tr>
  <td><strong>guardian name:</strong></td>
  <td><%= @student.guardian_name %></td>
</tr>

<tr>
  <td><strong>Guardian phone:</strong></td>
 <td> <%= @student.guardian_phone %></td>
</tr>
</table>
</div>
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
