<%= form_with(model: faculty, local: true) do |form| %>
  <% if faculty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(faculty.errors.count, "error") %> prohibited this faculty from being saved:</h2>

      <ul>
      <% faculty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container table-responsive">
<table class="table table-bordered">
  <tr class="field">
    <td><%= form.label :name %> </td>
    <td><%= form.text_field :name %> </td>
    </tr>

  <tr class="field">
  <td>  <%= form.label :student_id %> </td>
   <td> <%= form.number_field :student_id %> </td>
   </tr>

  <tr class="field">
    <td><%= form.label :faculty_id %> </td>
   <td> <%= form.text_field :faculty_id %> </td>
    </tr>

  <tr class="field">
    <td><%= form.label :start %> </td>
    <td><%= form.datetime_select :start_date %> </td>
    </tr>

  <tr class="field">
   <td> <%= form.label :semester_id %> </td>
   <td> <%= form.number_field :semester_id %> </td>
    </tr>

  <tr class="field">
    <td><%= form.label :end %> </td>
   <td> <%= form.datetime_select :end_date %> </td>
    </tr>

  <tr class="field">
    <td><%= form.label :tutor %> </td>
    <td><%= form.text_field :tutor %> </td>
    </tr>

  <div class="actions">
    <%= form.submit %>
  </div>
  </table>
  </div>
<% end %>
