<p id="notice"><%= notice %></p>

<h1>Faculties</h1>

<button class="btn btn-warning"><%= link_to 'New Faculty', new_faculty_path %></button>

<div class="container table-responsive">
<table class="table">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>student_id</th>
      <th>faculty_id</th>
      <th>Start</th>
      <th>semester_id</th>
      <th>End</th>
      <th>Tutor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faculties.each do |faculty| %>
      <tr>
        <td><%= faculty.name %></td>
        <td><%= faculty.student_id %></td>
        <td><%= faculty.faculty_id %></td>
        <td><%= faculty.start_date %></td>
        <td><%= faculty.semester_id %></td>
        <td><%= faculty.end_date %></td>
        <td><%= faculty.tutor %></td>
        <td><%= link_to 'Show', faculty %></td>
        <td><%= link_to 'Edit', edit_faculty_path(faculty) %></td>
        <td><%= link_to 'Destroy', faculty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
