<p id="notice"><%= notice %></p>


<div class="container table-responsive ">
<table class="table table-condensed">
<tr>
  <td><strong>Name:</strong></td>
 <td> <%= @faculty.name %></td>
</tr>

<tr>
  <td><strong>student_id:</strong></td>
 <td> <%= @faculty.student_id %></td>
</tr>

<tr>
  <td><strong>faculty_id:</strong></td>
 <td> <%= @faculty.faculty_id %></td>
</tr>

<tr>
 <td> <strong>Start:</strong></td>
  <td><%= @faculty.start %></td>
</tr>

<tr>
 <td> <strong>semester_id:</strong></td>
 <td> <%= @faculty.semester_id %></td>
</tr>

<tr>
  <td><strong>End:</strong></td>
  <td><%= @faculty.end %></td>
</tr>

<tr>
  <td><strong>Tutor:</strong></td>
  <td><%= @faculty.tutor %></td>
</tr>

</table>
</div>

<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%= link_to 'Back', faculties_path %>
