<%= form_with(model: result, local: true) do |form| %>
  <% if result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container table-responsive">
<table class="table table-striped table-dark">
  <tr class="field ">
    <td><%= form.label :student_id %></td>
   <td> <%= form.number_field :student_id %></td>
  </tr>

  <tr class="field">
   <td> <%= form.label :tutor %></td>
   <td> <%= form.text_field :tutor %></td>
  </tr>

  <tr class="field">
  <td>  <%= form.label :faculty_id %></td>
 <td>   <%= form.number_field :faculty_id %></td>
</tr>

  <tr class="field">
  <td>  <%= form.label :marks %></td>
  <td>  <%= form.text_field :marks %></td>
</tr>

  <tr class="field">
   <td> <%= form.label :division %></td>
   <td> <%= form.text_field :division %></td>
</tr>

  <tr class="field">
    <td><%= form.label :percentage %></td>
   <td> <%= form.text_field :percentage %></td>
  </tr>

   <tr class="field">
    <td><%= form.label :category %></td>
   <td> <%= form.text_field :category %></td>
  </tr>

  <tr class="field">
    <td><%= form.label :semester_id %></td>
   <td> <%= form.number_field :semester_id %></td>
  </tr>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
