<p id="notice"><%= notice %></p>

<h1>Results</h1>

<button class="btn btn-warning">
<%= link_to 'New Result', new_result_path %>
</button>

<div class="container table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>student_id</th>
      <th>Tutor</th>
      <th>faculty_id</th>
      <th>Marks</th>
      <th>Division</th>
      <th>Percentage</th>
      <th>Type</th>
      <th>semester_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
             <td><%= result.student_id %></td>
        <td><%= result.tutor %></td>
        <td><%= result.faculty_id %></td>
        <td><%= result.marks %></td>
        <td><%= result.division %></td>
        <td><%= result.percentage %></td>
        <td><%= result.category %></td>
        <td><%= result.semester_id %></td>
        <td><%= link_to 'Show', result %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Result', new_result_path %>
