<p id="notice"><%= notice %></p>


<div class="container table-responsive ">
<table class="table table-condensed">
<tr>
  <td><strong>Student id:</strong></td>
  <td><%= @result.student_id %></td>
</tr>

<tr>
  <td><strong>Tutor:</strong></td>
  <td><%= @result.tutor %></td>
</tr>

<tr>
  <td><strong>faculty_id:</strong></td>
  <td><%= @result.faculty_id %></td>
</tr>

<tr>
  <td><strong>Marks:</strong></td>
  <td><%= @result.marks %></td>
</tr>

<tr>
  <td><strong>Division:</strong></td>
  <td><%= @result.division %></td>
</tr>

<tr>
  <td><strong>Percentage:</strong></td>
  <td><%= @result.percentage %></td>
</tr>

<tr>
  <td><strong>Category:</strong></td>
  <td><%= @result.category %></td>
</p>

<tr>
  <td><strong>Semester id:</strong></td>
  <td><%= @result.semester_id %></td>
</tr>
</table>
</div>


<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
