<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container table-responsive">
  <table class="table table-hover">
  <tr class="field ">
  <td>  <%= form.label :name %> </td>
   <td> <%= form.text_field :name %> </td>
  </tr>

  <tr class="field">
  <td>  <%= form.label :isbn %></td>
  <td>  <%= form.number_field :isbn %></td>
  </tr>

  <div class="field">
   <td> <%= form.label :category %></td>
   <td> <%= form.text_field :category %></td>
  </div>

  <tr class="field">
   <td> <%= form.label :publication %></td>
   <td> <%= form.text_field :publication %></td>
  </div>

  <tr class="field">
  <td>  <%= form.label :publication_date %></td>
   <td> <%= form.datetime_select :publication_date %></td>
  </tr>

  <tr class="field">
   <td> <%= form.label :faculty_id %></td>
  <td>  <%= form.number_field :faculty_id %></td>
  </div>

  <tr class="field">
 <td>   <%= form.label :author %></td>
   <td> <%= form.text_field :author %></td>
  </div>

  <tr class="field">
  <td>  <%= form.label :edition %> </td>
   <td> <%= form.text_field :edition %> </td>
  </tr>

  <div class="actions">
 <%= form.submit %>
  </div>
  </table>
  </div>
<% end %>
