<p id="notice"><%= notice %></p>

<h1>Books</h1>

<button class="btn btn-warning"><%= link_to 'New Book', new_book_path %>
</button>


<div class="container table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Isbn</th>
      <th>Category</th>
      <th>Publication</th>
      <th>publication date</th>
      <th>faculty_id</th>
      <th>Author</th>
      <th>Edition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.isbn %></td>
        <td><%= book.category %></td>
        <td><%= book.publication %></td>
        <td><%= book.publication_date %></td>
        <td><%= book.faculty_id %></td>
        <td><%= book.author %></td>
        <td><%= book.edition %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>