<p id="notice"><%= notice %></p>

<div class="container table-responsive ">
<table class="table table-condensed">

<tr>
  <td><strong>Name:</strong></td>
  <td><%= @book.name %></td>
</tr>
<tr>
  <td><strong>Isbn:</strong></td>
  <td><%= @book.isbn %></td>
</tr>

<tr>
  <td><strong>Category:</strong></td>
  <td><%= @book.category %></td>
</tr>

<tr>
  <td><strong>Publication:</strong></td>
  <td><%= @book.publication %></td>
</tr>

<tr>
  <td><strong>publication date:</strong></td>
 <td> <%= @book.publication_date %></td>
</tr>

<tr>
  <td><strong>faculty_id:</strong></td>
  <td><%= @book.faculty_id %></td>
</tr>

<tr>
  <td><strong>Author:</strong></td>
  <td><%= @book.author %></td>
</tr>

<tr>
  <td><strong>Edition:</strong></td>
  <td><%= @book.edition %></td>
</tr>
</table>
</div>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
