<%= form_with(model: exam, local: true) do |form| %>
  <% if exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% exam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container table-responsive ">
<table class="table table-condensed">
  <tr class="field">
    <td><%= form.label :name %></td>
    <td><%= form.text_field :name %></td>
  </tr>

  <tr class="field">
   <td> <%= form.label :student_id %></td>
   <td> <%= form.number_field :student_id %></td>
  </tr>

  <tr class="field">
    <td><%= form.label :faculty_id %></td>
    <td><%= form.text_field :faculty_id %></td>
  </tr>

  <tr class="field">
   <td> <%= form.label :examination_date %></td>
   <td> <%= form.datetime_select :examination_date %></td>
  </tr>

  <tr class="field">
   <td> <%= form.label :semester_id %></td>
    <td><%= form.number_field :semester_id %></td>
  </tr>

  <tr class="field">
   <td> <%= form.label :category%></td>
    <td><%= form.text_field :category %></td>
  </tr>

  <tr class="field">
    <td><%= form.label :tutor %></td>
    <td><%= form.text_field :tutor %></td>
  </tr>

  <div class="actions">
    <%= form.submit %>
  </div>
  </table>
  </div>
<% end %>
