<p id="notice"><%= notice %></p>

<h1>Exams</h1>


<button class="btn btn-warning">
<%= link_to 'New Exam', new_exam_path %>
</button>

<%= link_to 'New book', students_path, class:"btn btn-warning" %>
<div class="container table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Student id</th>
      <th>Faculty id</th>
      <th>Examination Date</th>
      <th>Semester id</th>
      <th>Category</th>
      <th>Tutor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.name %></td>
        <td><%= exam.student_id %></td>
        <td><%= exam.faculty_id %></td>
        <td><%= exam.examination_date %></td>
        <td><%= exam.semester_id %></td>
        <td><%= exam.category %></td>
        <td><%= exam.tutor %></td>
        <td><%= link_to 'Show', exam %></td>
        <td><%= link_to 'Edit', edit_exam_path(exam) %></td>
        <td><%= link_to 'Destroy', exam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
