<p id="notice"><%= notice %></p>


<div class="container table-responsive ">
<table class="table table-condensed">
<tr>
 <td> <strong>Name:</strong></td>
 <td> <%= @exam.name %></td>
</tr>

<tr>
 <td> <strong>student_id:</strong></td>
  <td><%= @exam.student_id %></td>
</tr>

<tr>
  <td><strong>faculty_id:</strong></td>
  <td><%= @exam.faculty_id %></td>
</tr>

<tr>
 <td> <strong>Date:</strong></td>
 <td> <%= @exam.examination_date %></td>
</tr>

<tr>
  <td><strong>semester_id:</strong></td>
 <td> <%= @exam.semester_id %></td>
</tr>

<tr>
 <td> <strong>Type:</strong></td>
 <td> <%= @exam.category %></td>
</tr>

<tr>
 <td> <strong>Tutor:</strong></td>
  <td><%= @exam.tutor %></td>
</tr>
</table>
</div>
<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
